services:
    -
        class: Elephant\PHPStan\TasksReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

rules:
    - Elephant\PHPStan\TaskNotFoundRule
